.Main-container {
    /* width: 100%;
    min-height: 100%;
    height: 100%;
    position: fixed;
    background: #f4f4f4; */
    font-family: 'Prompt';
    /* z-index: 1200; */
}

.Main-VCenter {
    /* background-color: rgb(231, 235, 240); */
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;
}

.Main-logo {
    /* text-align: center; */
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 14px;
    margin-top: 14px;
    /* height: 200px; */
    /* border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    padding: 7px; */

}

.Main-autocomplete {
    padding: 7px;
}

.Main-button{
    width: 100%;
    padding: 7px;
}

.Main-targetImage{
    display: block;
    max-width:600px;
    max-height:600px;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: auto;
    /* margin-left: 14px; */
}

.Main-shareTitle{
    font-family: 'Prompt';
    text-align: center;
    padding: 7px;
}

.Main-shareIcon-container{
    text-align: center;
}


.Main-shareIcon{
    padding: 4px;
}

.Main-Credit{
    padding-top: 7px;
    font-family: 'Prompt';
    margin: auto;
    text-align: center;
}

.Main-Donate{
    padding-top: 7px;
    font-family: 'Prompt';
    color: dimgray;
    font-size: 12px;
    text-align: center;
}

.Main-Donate2{
    padding-top: 0px;
    font-family: 'Prompt';
    color: dimgray;
    font-size: 12px;
    text-align: center;
}

.Main-tag{
    padding-top: 4px;
    font-family: 'Prompt';
    /* color: dimgray; */
    /* font-size: 12px; */
    text-align: center;
}

.Main-UploadBtn{
    text-align: center;
    padding: 7px;
    margin-top: -7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    background: rgba(226, 226, 226, 0.54);
    border-radius: 4px;
}

.Main-DownloadClothingTamplate{
    font-family: 'Prompt';
    padding-top: 7px;
    font-size: 10px
}

a, u {
    text-decoration: none;
}

a:visited {
    color: #0000EE;
}